@import "../App.scss";

title-detalle{
    font-size: 20px;
}

#contenido{
    margin-top: 80px !important;
}

#attachment{
    width: 100% !important;
    height: 20% !important;
}

.size-full{
    width: 100% !important;
    height: 20% !important;
}

.aligncenter{
    width: 100% !important;
    height: 20% !important;
}

.alignnone{
    width: 100% !important;
    height: 20% !important;
} 

#back{
    visibility: visible;
}
