@import "../App.scss";

.cardPost{
    margin-top: 80px;
}

h3{
    margin: 0px !important;
}

#formCargar{
    margin-bottom: 10px;
    padding: 5px;
    width: 35%;
    float: right;
    input[type="number"]{
        width: 75%;
        height: 35px;
        border-radius: 10px;
        border: 0px;
    }
    input[type="submit"]{
        width: 25%;
        height: 36px;
        border-radius: 10px;
        background: $color_barra;
        border: 0px;
        color: beige;
    }
}

#formPaginas{
    margin-bottom: 10px;
    padding: 5px;
    width: 35%;
    input[type="number"]{
        width: 75%;
        height: 35px;
        border-radius: 10px;
        border: 0px;
    }
    input[type="submit"]{
        width: 25%;
        height: 36px;
        border-radius: 10px;
        background: $color_barra;
        border: 0px;
        color: beige;
    }
}

#formSearch{
    margin-bottom: 10px;
    padding: 5px;
    width: 60%;
    input[type="text"]{
        width: 75%;
        height: 35px;
        border-radius: 10px;
        border: 0px;
    }
    input[type="submit"]{
        width: 25%;
        height: 36px;
        border-radius: 10px;
        background: $color_barra;
        border: 0px;
        color: beige;
    }
}

#formCategorias{
    margin-bottom: 10px;
    padding: 5px;
    width: 60%;
    float: right;
    select{
        width: 75%;
        height: 35px;
        border-radius: 10px;
        border: 0px;
    }
    input[type="submit"]{
        width: 25%;
        height: 36px;
        border-radius: 10px;
        background: $color_barra;
        border: 0px;
        color: beige;
    }
}

#back{
    visibility: hidden;
}