$fondo: rgb(238, 238, 238); 
$color: green;
$color_barra: transparentize($color, 0.3);

body{
  background: $fondo;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
}
